:root{
    --score-low: #46F093;
    --score-mid-low: #F4DB20;
    --score-mid-high: #F2A415;
    --score-high: #ED4C4C;
}

.topbar {
    margin-left: -5%;
    position: fixed;
    top: 0;
    width: 110%;
    height: 80px;
    background-color: var(--color-background-dark); 
    z-index: 9999;
}

.topbar-text {
    position: absolute;
    left: 27.5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    font-weight: bold;
    white-space: nowrap;
    
    background: linear-gradient(90deg, rgb(166, 249, 156), rgb(107, 248, 224)); /* xanh -> hồng */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* optional: làm chữ nổi hơn */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.topbar-selector {
    position: relative;
    z-index: 10000; 
    margin-left: 0;
}

.taipy-watermark {
    display: none
}
.MuiPopover-root, 
.MuiPaper-root {
    z-index: 10002;
}

body {
    padding-top: 80px;
}


/* .content {
    margin-top: 150px;
} */

.predict {
    margin-top: 15px;                
    padding: 10px;               
    background-color: #ffffff;   
    border-radius: 8px;          
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    vertical-align: top;
    text-align: center;
    color: var(--taipy);
    width: 100%;                
    height: auto;        /* cho card nở theo nội dung */
}

.predict-image {
    width: 100%;         
    height: auto;        /* ảnh giữ tỉ lệ tự nhiên */
    object-fit: contain; /* ảnh không bị cắt */
    border-radius: 4px;
    margin-bottom: 8px;
    float: left;
    border: 2px solid var(--color-background);
}

.predict-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
    padding: 10px
}

/* Title & Year */
.predict-title {
    font-size: 22px;      
    font-weight: bold;    
    margin-bottom: 4px;
}

.predict-year {
    font-size: 16px;      
    color: #555;
    margin-bottom: 6px;
}

/* Score model */
.predict-score {
    display: inline-block;
    padding: 4px 8px;
    background-color: #f8d7da;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: #721c24;
    margin-bottom: 4px;
}

/* TMDB Rating */
.predict-vote {
    display: inline-block;
    padding: 4px 8px;
    background-color: #d1ecf1;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: #0c5460;
    margin-bottom: 6px;
}

/* Overview text */
.predict-overview {
    margin: 2px;
    font-size: 14px;
    color: #333;
    line-height: 1.4;
}

.selector-box {
    margin-top: 40px;
}

.text-right {
    text-align: right;
    width: 100%; 
    display: block;
}

.text-right {
    text-align: left;
    width: 100%; 
    display: block;
}

.taipy-expandable .MuiAccordionSummary-content {
    font-weight: 600;
    transition: color var(--transition-duration);
    font-size: 16px;
}

.filter {
    z-index: 5000;
}

.MuiPopper-root.MuiPickersPopper-root {
    z-index: 5001; 
}

.spacer {
    height: 16px;
}